<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors"/>
  <meta name="generator" content="Astro v5.13.2" />
  <title>Pricing example · Bootstrap v5.3</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/pricing/"/>
  <link href="../css/bootstrap.min.css" rel="stylesheet" />
  //<link href="../css/misestilos.css" rel="stylesheet" />
  </head> 
  <body>
      main
      nav.navbar.bg-white.border-bottom.border-dark
        .container
            a.navbar-brand(href="#") GREGORIO PRIETO
            .mx-auto
                a.nav-link.d-inline.px-3(href="#") Informatica
                a.nav-link.d-inline.px-3(href="#") Mecanica
                a.nav-link.d-inline.px-3(href="#") Electricidad
            
            .section.my-5
  h3.mb-4 Columns with icons
  .row
    each i in [1, 2, 3]
      .col-md-4.mb-3
        .card.shadow-sm
          img.card-img-top(src=`https://picsum.photos/400/200?random=${i}`, alt="Lugar destacado")
          .card-body
            h5.card-title Featured title #{i}
            p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ad libero quasi beatae quis labore dolores, commodi reprehenderit, temporibus, alias enim impedit dolor quaerat cupiditate eos sed accusantium maiores doloribus.
            .d-flex.justify-content-between.align-items-center
              .btn
                button.btn.btn-sm.btn-outline-secondary call to action
                

        footer 
      <script src="../js/bootstrap.bundle.min.js" class="astro-vvvwv3sm"></script>
  </body>
</html>